# Python environments
venv/
__pycache__/
*.pyc

# Environment variables and Keys
.env
*.json 

# Data files
*.csv
*.parquet


.venv/
.env
dbt/gcp-service-account.json
.DS_Store

.ipynb_checkpoints/

# Claude Code
.claude/
