# Python environments
venv/
__pycache__/
*.pyc

# Environment variables and Keys
.env
*.json 

# Data files
*.csv
*.parquet


.venv/
.env
dbt/gcp-service-account.json
.DS_Store

.ipynb_checkpoints/

# Large model artifacts
*.joblib
models/risk_scores.parquet
models/centrality_metrics.csv
models/feature_cols.json
models/feature_medians.json
